### Sites with the houses data

* https://www.makaan.com/maharashtra/buy-property-in-maharashtra-state
* https://housing.com/in/buy/house-in-maharashtra
* https://www.99acres.com/property-in-maharashtra-ffid

In [7]:
#Importing necessory libraries

import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
from progressbar import ProgressBar
pbar = ProgressBar()

In [4]:
houses = []
def add_items():
    for x in pbar(range(1,10017)):
        url = "https://www.makaan.com/maharashtra/buy-property-in-maharashtra-state?page=".format(str(x))
        page = requests.get(url)
        soup = bs(page.content, "html.parser")   
        contents = soup.find_all("div", class_="infoWrap")
        for property_ in contents:
            try:
                beds_desc = property_.find(class_="typelink").text
                locality_name = property_.find(class_="locWrap").text.split(",")[0]
                region_name = property_.find(class_="locWrap").text.split(",")[1]
                price = property_.find(class_="price").text
                value_per_sqft = property_.find(class_="lbl rate").text
                area = int(property_.find(class_="size").text)
                construction_status = property_.find(class_="hcol w44").td.text
                listing_details = property_.find(class_="listing-details").text
            except Exception as e: 
                print(x, e)
                pass         
            houses.append(
                {
                    "beds_desc":beds_desc,
                    "locality_name":locality_name,
                    "region_name":region_name,
                    "price":price,
                    "value_per_sqft":value_per_sqft,
                    "area":area,
                    "construction_status":construction_status,
                    "listing_details":listing_details,
                }
            )
    return houses

In [5]:
df = pd.DataFrame(add_items())
df.to_csv("properties_mh.csv",index=False)
df.head()

100% |########################################################################|

,beds_desc,locality_name,region_name,price,value_per_sqft,area,construction_status,listing_details
0,4 BHK Apartment,Tarwala Nagar,Nashik,84.99 L,"3,761 / sq ft",2260,Under Construction,Possession by Apr 2023New
1,2 BHK Apartment,Dombivali,Mumbai,67.9 L,"13,580 / sq ft",500,Under Construction,Possession by Dec 2022New
2,3 BHK Apartment,Wagholi,Pune,60.3 L,"7,811 / sq ft",773,Under Construction,Possession by Dec 2025New
3,1 BHK Apartment,Ambegaon Budruk,Pune,35.37 L,"7,417 / sq ft",477,Ready to move,0 - 1 year oldNew
4,3 BHK Apartment,Dombivali,Mumbai,95 L,"10,359 / sq ft",917,Under Construction,Possession by Nov 2025New